.container{

	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.grid{
	/* width: 100%; */
	
	display: grid;
	height: 100%;
	grid-auto-columns: 50px;
	grid-template-rows: 1fr;
	grid-auto-flow: column;
	column-gap: 10vw;
}

.gridColumn{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: max-content;

	& .title, & .link{
		font-size: calc(.7rem + .5vw);
		margin: .5vw 0;
	}

	& .title{
		color: #743ad5;
	}

	& .link{
		text-decoration: none;
		color: var(--lightGreen);

		&:hover{
			text-decoration: underline;
		}

		&:active{
			transform: scale(.95);
		}

		&:visited{
			color: var(--lightGreen);
		}
	}
}