.container{
  display: flex;
}


.ul{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.li{
  position: relative;
  list-style: none;
  margin: 0 5vw;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  & .clock{
    font-size: calc(.5vw + .8rem);
    color: var(--gradientViolet);
  }
}

.a{
  text-decoration: none;  
  width: 100%;
  height: 100%;
  &:hover > .imgBox{
      transform: scale(1.1);
  } 
  &:active{
    transform: scale( .95);
  }

  & .imgBox{
    width: 100%;
    height: 100%;
    transition: transform .3s linear, filter .3s linear;
    & .img{
      /* display: none; */
      height: 100%;
      width: 100%;
      object-fit: scale-down;
    }
  }
}
