.container{
  border: 1px solid #222;
  background: #222;
  width: 80vw;
  height: 85vh;

  display: grid;
  grid-template-areas: "searchBar" "apps" ;
  grid-template-rows: 5vw 1fr;
  grid-auto-columns: 100%;
  justify-items: center;

}

.searchBar{
  /* outline: 1px solid red; */
  grid-area: searchBar;
  width: 50%;
}

.ul{
  width: 100%;
  grid-area: apps;

  display: grid;

  grid-template-columns: repeat(3, calc(5rem + 5vw));
  grid-template-rows: repeat(auto-fit, calc(5rem + 5vw));
  justify-content: space-evenly;
  align-content: space-evenly;
}

.li{
  position: relative;
  list-style: none;
}

.a{
  text-decoration: none;  
  width: 100%;
  height: 100%;
  display: grid;

  grid-template-areas: 
  "image"
  "text";
  grid-auto-columns: 1fr;
  grid-template-rows: 70% min-content;
  place-items: center;
  &:hover > .text{
    transform: translateY(15%);
    color: var(--lightGreen);
  }
  &:hover > .imgBox{
      transform: scale(1.1);
      filter: none;
  } 
  &:active{
    transform: scale( .95);
  }

  & .imgBox{
    width: 100%;
    height: 100%;
    grid-area: image;
    filter: brightness(15%);
    transition: transform .3s linear, filter .3s linear;
    & .img{
      /* display: none; */
      height: 100%;
      width: 100%;
      object-fit: scale-down;
    }
  }

  & .text{
    color: var(--violet);
    grid-area: text;
    align-self: end;
    font-size: calc(1rem + 1vw);
    transition: transform .3s linear, color .3s linear;
     
  }


}




