.container{
  /* height: 3.5vw; */
  width: 50%;
  background: transparent;
  position: relative;
  display: flex;

  & .input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: none;

    font-size: 1.2vw;

    color: var(--lightGreen);
    padding: 2vh 0;
    border-bottom: 3px solid orange;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, transparent,#743ad5, #d53a9d, transparent);

    transition: border-image-source linear .2s;

    text-align: center;
    &:focus{
      border-image-source: linear-gradient(to left, transparent, var(--lightGreen), var(--lightGreen), transparent);

    }

    &::placeholder{
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
    }
  }


  
}

@media (max-width: 768px) {
  .container{
      & .input{
      font-size: 16px;
    }
  }
}

@media (max-width: 425px) {
  .container{
      & .input{
      font-size: 12px;
    }
  }
}